.CountDownWrapper {
    position: absolute;
    bottom: 0;
    color: white;
}

.CountDownTop{
    background-color: #ff4800;
    font-size: 19px;
    text-transform: uppercase;
    padding: 10px;
    /* display: inline-block; */
}

.CountDownBottom{
    background-color: #d93d00;
    display: flex;
    padding: 10px 20px;
}
.CountDownItem{
    padding: 0 20px;
}

.CountDownTime{
    font-size: 70px;
    border-left: 1px solid #F44336;
    padding-right: 49px;
}

.CountDownTag{
    font-size: 20px;
    padding-left: 7px;
    text-transform: uppercase;
}